
@{
    ViewBag.Title = "Gallery";
}

@section head {
    <script src="~/scripts/gallery.js"></script>  
    <link href="~/Content/item-style.css" rel="stylesheet" type="text/css"/>  
}

<h1 class="page-title">Gallery</h1>

<div class="image-block clearfix">
    <div class="block-expansion">
        <label>Выберете необходимый формат картинки</label>
        <label><input type="checkbox" value="jpg" checked/>.jpg</label>
        <label><input type="checkbox" value="png" checked/>.png</label>
        <label><input type="checkbox" value="other" checked/>other</label>
    </div>
    <div class="grid images">
            
    </div>
</div>
<div class="one-image">
    <input id="bt-previous-img" type="button" value="&lt"/>
    <img id="one-img" src="" alt="Невозможно отбразить"/>
    <input id="bt-next-img" type="button" value="&gt;">
</div>