
@{
    ViewBag.Title = "Gallery";
}

@section head {
    <script src="~/scripts/gallery.js"></script>  
    <link href="~/Content/item-style.css" rel="stylesheet" type="text/css"/>  
    <link href="~/Content/panel-for-image.css" rel="stylesheet" type="text/css" />  
}

<h1 class="page-title">Gallery</h1>

<div class="image-block clearfix">
    <div class="block-expansion">
        <label>Выберете необходимый формат картинки</label>
        <label><input type="checkbox" value="jpg" checked/>.jpg</label>
        <label><input type="checkbox" value="png" checked/>.png</label>
        <label><input type="checkbox" value="other" checked/>other</label>
    </div>
    <div id="panel-images" class="grid images">
            
    </div>
</div>

<div class="one-image">
    <div id="div-img">
        <input id="bt-previous-img" type="button" value="&lt"/>
        <img id="one-img" src="" alt="Can not display"/>
        <input id="bt-next-img" type="button" value="&gt;"/>
    </div>
    <div>
        <a href="" id="bt-download"><i class="fa fa-download"></i>Download</a>
        <span id="bt-delete"><i class="fa fa-trash"></i>Delete image</span>
    </div>
</div>

<div class="question">
    <div class="div-text">
        <p>Do you want to delete the image?</p>
    </div>
    <div>
        <input type="button" class="bt-yes" value="Yes" />
        <input type="button" class="bt-no" value="No" />
    </div>
</div>