
@{
    ViewBag.Title = "Upload Image";
}

@section head
{
    <script src="~/scripts/upload-image.js"></script>
    <link href="~/Content/upload-images-page.css" rel="stylesheet" type="text/css" />
}

<h3>@ViewBag.Message</h3>

<h1 class="page-title">Upload Image page</h1>
@using (Html.BeginForm("AddImage", "Image", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="field">
        <label for="file">Select image</label> <input type="file" name="file" id="file" value="Select image" multiple accept="image/*" />
      </div>
    <div class="field">
        <label for="fileName">Name image</label> <input type="text" name="fileName" id="fileName" placeholder="Enter new name for img" />
    </div>
    <div class="field">
        <input type="submit" id="submit" class="bt-send" value="Send" /> <span id="message"></span>
    </div>
    <div class="field">
        <img id="preview" style="width:300px" />
    </div>
}
