.grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 800px;
	list-style: none;
	text-align: center;
}

.cell {
    width: 370px;
    height: 280px;
    float: left;
    margin-bottom: 25px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.png {
    border: 3px solid #0018e3;
}

.jpg {
    border: 3px solid #ff0000;
}

.other {
    border: 3px solid #00ff08;
}

.one-image {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    bottom: 0; 
    right: 0; 
    margin: 0 auto; 
    text-align: center;
}

#one-img {
    vertical-align: middle;
    width: 800px;
    height: 600px;
    padding: 5% 0;
}

.scroll-html {
    overflow: hidden;
}

.one-image input {
    font-size: 40px;
    background-color: #f2f2f2;
    /*border: none;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	cursor: pointer;*/
    border-radius: 0 5px 5px 0;
    font-weight: 800;
    opacity: 0.6;
}

.one-image input:hover {
    opacity: 1;
	box-shadow: 0 5px 30px #fff;
    cursor: pointer;
}

#bt-previous-img {
    border-radius: 5px 0 0 5px;
    left: 30px;
}

#bt-next-img {
    right: 30px;
}