.field {
    clear:both; 
    margin-top: 20px;
    margin-left: 10px;
}

#submit {
    width: 150px;
    height: 30px;
    border-radius: 5px;
	outline: none;
	border: none;
    color: #000;
    cursor: pointer;
}

.no-active {
    background-color: #ff0000;
}

.active {
    background-color: #2dad00;
}

.active:hover {
    color: #fdffc9;
}

.message {
    display: none;
}